*{
    margin: 0;
    padding: 0;   
}
.app{
    overflow: hidden;
}
.header {
    padding: 8px;
    height: 120px;
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}
.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__navbar-list {
    display: flex;
    align-items: center;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
}
.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight:300;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover{
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}
.header__navbar-item--showQR:hover .header__qr{
    display: block;
    z-index: 1;
}
.no-pointer {
    color: var(--white-color) !important;
    cursor: default !important;
}
.separate::after {
    content: "";
    display: block;
    position: absolute;
    border-right: 1px solid #fb9086;
    height: 16px;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}
.header__navbar-icon-link {
    font-size: 1.5rem;
    margin-right: 8px;
    text-decoration: none;
    color: var(--white-color);
}

.header__navbar-user {
    display: flex;
    align-items: center;
    position: relative;
}
.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}
.header__navbar-user-avatar {
    width: 20px;
    margin-right: 8px;
}
.header__navbar-user-name {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 15px;
}
.header__navbar-user-menu{
    position: absolute;
    top: 150%;
    background-color: var(--white-color);
    right: 0;
    width: 134px;
    border-radius: 2px;
    list-style: none;
    z-index: 1;
    box-shadow:0 2px 3px #e8e8e8;
    display: none;
    transform-origin: 90% top;
    animation: GrowthNotify ease-in .15s;
}
.header__navbar-user-menu::before {
    content: "";
    position: absolute;
    border: 12px solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 16px;
    top: -23px;
}
.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 13px;
    left: 0;
    top: -13px
}
.header__navbar-user-item{
    padding: 8px 12px;
}
.header__navbar-user-item:hover{
    background-color: #f8f8f8;
}
.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
}
/* Header QR Code */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 200%;
    border-radius: 4px;
    display: none;
    animation: fadeIn linear 0.2s;
}
.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 13px;
    left: 0;
    top: -13px;
}

.header__qr-img {
    width: 100%;
    border-radius: 4px;
}
.header__qr-apps {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4px;
}
.header__qr-store{
    height: 18px;
    cursor: pointer;
}
/* Notification */
.header__notify{
    display: none;
    position: absolute;
    top: 200%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    transform-origin: calc(100% - 40px) top;
    animation: GrowthNotify ease-in .15s;
    will-change: opacity, transform;
}
@keyframes GrowthNotify{
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 16px;
    left: 0;
    top: -16px;
}
.header__notify::after{
    content: "";
    position: absolute;
    border: 12px solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 16px;
    top: -24px;
}
.header__navbar-item--showNotify:hover .header__notify{
    display: block;
    z-index: 3;
}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
    color: rgb(156, 153, 153);
    line-height: 40px;
    margin-left: 10px;
    font-size: 1.5rem;
    cursor: default;
}
.header__notify-list{
    background-color:rgb(255, 239, 241);
}
.header__notify-item{
    margin: 0 12px;
    padding: 8px 0;
}
.header__notify-link{
    display: flex;
    text-decoration: none;
}
.header__notify-img{
    height: 40px;
    
}
.header__notify-info{
    margin-left: 4px;
}
.header__notify-name{
    color: rgb(70, 70, 70);
    display: block;
    margin-top: 4px;
}
.header__notify-description{
    display: block;
    color:rgb(156, 153, 153);
    margin-top: 4px;
}
.header__notify-footer{
    height: 40px;
    background-color: var(--white-color);
    line-height: 40px;
}
.header__notify-footer-btn{
    text-decoration: none;
    color: rgb(95, 95, 95);
    font-size: 1.5rem;
    text-align: center;
}

/* Modal */
.modal {
    display: none;
}
.auth-form {
    width: 450px;
}
.auth-form__container {
    padding: 0 32px;
}
.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 8px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400px;
    color: var(--text-color);
    
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500px ;
    color: var(--primary-color);
    cursor:pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border:1px solid var(--border-color);
    border-radius: 2px;
}

.auth-form__aside{
    margin: 20px 0;
    font-size: 1.2rem;

}
.auth-form-policy-text{
    padding: 0 12px;
}
.auth-form-text-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin: 80px 0 20px 0;
    display: flex;
    justify-content: flex-end
}
.auth-form__control-back{
    margin-right: 8px;
}
.auth-form__socials {
    background-color: #e0e0e0;
    padding: 8px 34px ;
}
.btn.btn--with-icon {
   padding: 0 12px;
}
.btn--with-icon--FB {
    background-color: #3b5998;
    border-radius: 2px;
    color: var(--white-color);
    margin-right: 8px;
}
.btn--with-icon--GG{
    background-color:rgb(240, 240, 240);
}
.auth-form__socials-icon {
 font-size: 1.8rem;
 margin-right: 16px;  
}
.auth-form__help {
    display:flex;
    justify-content: flex-end;

}

.auth-form__help-link,
.auth-form__forgot-link {
    font-size: 1.2rem;
    text-decoration: none;
}
.auth-form__forgot-link{
    color: var(--primary-color);
}
.auth-form__help-link {
    color: #999;
    
}
.auth-form__help-separate {
    display: block;
    height: 1.4rem;
    margin: 0 12px;
    border-left: 1px solid var(--border-color);
}

/* header with search */
.header-with-search{
    height: 59px;
    margin: 12px 0 10px 0;
    display: flex;
    align-items: center;
}

.header__mobile-search {
    padding: 12px;
    display: none;
}
.header__mobile-search-icon{
    font-size: 2.6rem;
    color: var(--white-color);
}



.header__logo {
    width: 200px;
    margin-left: 8px;
}
.header__logo-link{
    color: transparent;
    text-decoration: none;
    display: block;
}

.header__logo-img  {
    width: 150px;
    color: var(--white-color);
}
.header__mobile-logo-img{
    display: none;
}

.header__search {
    display: flex;
    flex: 1;
    height: 40px;
    border-radius:2px;
    background-color: var(--white-color);
    align-items: center;
}
.header__search-checkbox:checked ~ .header__search{
    display: flex;
}

/* Mobile Filter */
.header__cart-filter{
    display: flex;
    align-items: center;
    min-width: 120px;
    justify-content: space-between;
}
.header__cart-filter-checkbox:checked ~ .category-container{
    display: flex
}

.header__filter{
    display: none;
    cursor: pointer;
    padding: 8px;
}
.header__filter-icon{
    font-size: 2.8rem;
    color: var(--white-color);
    position: relative;
}
.header__filter-icon span {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--white-color);
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
    right: -15px;
}
/* Cart */
.header__cart {
    width: 138px;
    height: 54px;
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.header__cart-icon {
    font-size: 28px;
    color: var(--white-color);
    position: relative;
}
.header__cart:hover .header__cart-list{
    display: block;
    z-index: 2;
}

.header__cart-list{
    position: absolute;
    top: 100%;
    right: 20px;
    width: 400px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 2px 10px #e8e8e8;
    display: none;
    transform-origin: 90% top;
    animation: GrowthNotify ease-in 0.2s;
}
.header__cart-list::before {
    content: "";
    position: absolute;
    display: block;
    right: 26px;
    top: -29px;
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart {
    padding: 44px 0 60px 0;
    cursor: default;
}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-no-cart-msg {
    display: block;
}
.header__cart-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

.header__cart-no-cart-img {
    width: 60%;
    margin: 0 80px;
    display: none;
}
.header__cart-notice{
    position: absolute;
    padding: 1px 5px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 10px;
    right: -10px;
    top: -8px;
    border: 1px solid #ee4d2d;
}
 /* Cart list */
.header__cart-heading{
    text-align: left;
    margin: 12px 12px;
    font-size: 1.4rem;
    color: #666;
    font-weight: 500;
}

.header__cart-item{
    display: flex;
    align-items: flex-end;
}
.header__cart-item:hover {
    background-color: #f8f8f8;
}
.header__cart-img {
    width: 48px;
    margin: 12px;
    border: 1px solid #e8e8e8;
}
.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}
.header__cart-item-head{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
}

.header__cart-item-price{
    font-size: 1.4rem;
    color: var(--primary-color);
}

.header__cart-item-qnt{
    font-size: 1.2rem;
}
.header__cart-item-body{
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
}
.header__cart-item-desc{
    font-size: 1.2rem;
    font-weight: 400px  ;
    color: #666;
}
.header__cart-item-remove{
    font-size: 1.4rem;
    font-weight: 400px  ;
    color: var(--text-color);
}
.header_cart-view-cart {
    float: right;
    margin: 12px 12px;
}
.header_cart-view-cart:hover {
    opacity: 0.9;
}


/* Header Search */
.header__search-input-wrap {
    flex: 1;
    position: relative;
}
.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius:2px;
}
.header__search-select {
    border-left: 1px solid #e8e8e8;
    padding: 0 8px 0 16px;
    font-size: 1.7rem;
    position: relative;
    cursor: pointer;
}

.header__search-select:hover .header__search-option {
    display: block;
}
.header__search-select-link{
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-select-icon{
    font-size: 1.2rem;
    color: #4a4a4a;
    margin: 0 8px;
}
.header__search-btn {
    height: 34px;
    width: 60px;
    margin-right: 3px;
    border: none;
    border-radius: 2px;
    color: var(--white-color);
    background-color: #fb5533;
    outline: none;
    cursor: pointer;
}
.header__search-btn:hover {
    opacity: 0.9;
}
.header__search-option {
    position: absolute;
    width: 134px;
    top: 200%;
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 2px 3px  #e8e8e8;
    display: none;
    animation: fadeIn ease-in 0.1s;
    z-index: 1;
}
.header__search-option::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 16px;
    left: 0;
    top: -16px;
}
.header__search-option-item {
    padding: 10px 8px 10px 20px;
    cursor: pointer;
}
.header__search-option-item:hover {
    background-color: #f5f3f3;
}
.header__search-option span {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-option i {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left: 8px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}
.header__search-input:focus ~ .header__search-history {
    display: block;
}
 /* Search History */
.header__search-history {
    position: absolute;
    top: 200%;
    left: 0%;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 2px 3px #e8e8e8;
    display: none;
    z-index: 1;
}
.header__search-history-heading{
    margin: 8px 12px;
    font-size: 1.4rem;
    color: #666;
    font-weight: 400;
}
.header__search-history-item{
    font-size: 1.4rem;
    padding: 12px;
}
.header__search-history-item:hover {
    background-color: #f5f3f3;
}
.header__search-history-item a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
}
/* Header-sort */
.header__sort-bar{
    position: fixed;
    top: 59px;
    left:0;
    right: 0;
    height: 40px;
    background-color: var(--white-color);
    display: none;
}
.header__sort-item{
    flex: 1;
    height: 100%;
    border-right: 1px solid #e5e5e5;
}
.header__sort-item:last-child{
    border-right:none;
}

.header__sort-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    line-height: 40px;
    text-align: center;
}
.header__sort-item--active .header__sort-link{
    color: var(--primary-color);
}
/*  App container */
.app__container {
    background-color: #f5f5f5;
}
.app__content {
    padding: 36px 0;
}
.category-container{
    background-color: var(--white-color);
    border-radius: 2px;
}
/* Category */

/* Shop Avatar */
.category__avatar {
    position: relative;
    height: 171px;
}
.category__avatar-background{
    height: 100%;
    width: 100%;
    position:absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    filter: brightness(85%);
    border-radius: 2px;
}
.category__avatar-img{
    height: 80px;
    width: 80px;
    position:absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}
img.category__avatar-shopeeMall-img {
    height: 16px;
    position:absolute;
    top: 74px;
    left: 8px;
}
.category__avatar-name{
    position:absolute;
    top: 100px;
    left: 10px;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: bold;
}
.category__avatar-status{
    position:absolute;
    top: 125px;
    left: 4px;
    color: var(--white-color);
    font-size: 1.3rem;
}
.category__heading {
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 16px 16px;
    text-transform: uppercase;
}
.category-item{
    border-bottom: 1px solid rgba(0,0,0,0.09);
    padding: 10px 0;
    margin: 0 16px;
}
.category-item__link{
    position: relative;
    text-decoration:none;
    color: var(--text-color);
    font-size: 1.5rem;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}
.category-item__link:hover {
    right: -2px;
    color: var(--primary-color);
}
.category-item--active .category-item__link{
    color: var(--primary-color);

}
/* Ship filter */
.fiter-selection{
    padding:20px 0;
}
.fiter-selection__heading{
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 16px 16px 10px 16px;
    text-transform: uppercase;
}

.fiter-selection-item{
    padding: 10px 0;
    margin: 0 16px;
    
}
.fiter-selection-item__input{
    cursor: pointer;
    
}
.fiter-selection-item__label{
    text-decoration:none;
    color: rgba(0,0,0,0.6);
    font-size: 1.5rem;
    padding-left: 8px;
    cursor: pointer;
}
.fiter-selection-btn{
    display: block;
    text-align: center;
    padding: 16px 0;
}
                /* Column-10-12 */
/* Homm filter */
.home-filter {
    padding: 12px 22px;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.04);
    border-radius: 2px;
}
.home-filter__link{
    font-size: 1.4rem;
    margin-right: 16px;
    color: var(--text-color);
}
.home-filter__page{
    display: flex;
    align-items: center;
}
.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
}
.select-input{
    position: relative;
}
.select-input__link{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
}
.select-input__option {
    position: absolute;
    width: 200px;
    top: 110%;
    right: 0;
    left: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 2px 3px  #e8e8e8;
    display: none;
    animation: fadeIn ease-in 0.1s;
}
.select-input__option::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: -3px;
}
.select-input__option-item {
    padding: 12px;
    cursor: pointer;
}
.select-input__option-item:hover span{
    color: var(--primary-color);
}
.select-input__option span {
    font-size: 1.4rem;
    color: var(--text-color);
}

.select-input__option i {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left: 8px;
    display: none;
}

.select-input__option-item--active i {
    display: inline-block;
}
.select-input:hover .select-input__option {
    display: block;
    z-index: 1;
}
.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__page-number{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-current{
    color: var(--primary-color);
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    height: 34px;
    width: 76px;
    display: flex;
}
.home-filter__page-btn{
    flex: 1;
    background-color: var(--white-color);
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    box-shadow:0 0 3px #e8e8e8;
}
.home-filter__page-btn-icon{
    margin: auto;
}

/* Product Item */
.home-product{
    margin: 10px 0;
}
.home-product-item{
    display: block;
    text-decoration: none;
    background-color: var(--white-color);
    padding: 0 10px;
    transition: transform linear 0.2s;
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.home-product-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 1px 10px rgb(165, 165, 165);
}
.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.home-product-item__name-img{
    height: 1.2rem;
}
.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.6rem;
    height: 3.2rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}
.home-product-item__info{
    display:flex;
    margin-top: 8px;
    text-align: center;
    align-items: center;
}
.home-product-item__info-uudai{
    width: 40%;
    font-size: 1rem;
    border: 1px solid rgb(255, 0, 32);
    color: rgb(255, 0, 32);
    padding: 1px 2px;
    line-height: 1.2rem;
    margin-right: 4px;
}

.home-product-item__info-tragop{
    width: 40%;
    font-size: 1rem;
    border: 1px solid #f5a623;
    color: #f5a623;
    padding: 1px 2px;
    line-height: 1.2rem;
}
.home-product-item__info-icon{
    margin-left: auto;
}

.home-product-item__price{
    margin: 8px 0;
    font-weight: 500;
    display: flex;
}
.home-product-item__price-old{
    font-size: 1.2rem;
    text-decoration: line-through;
    color: rgb(111, 111, 111);
}
.home-product-item__price-current{
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left: 4px;
}
.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.home-product-item__like{
    color: rgb(111, 111, 111);
}

i.home-product-item__liked-icon{
    display:none;
    color: #f63d30;
}
.home-product-item__like--liked .home-product-item__liked-icon{
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon{
    display: none;
}


.home-product-item__rating{
    color: #ccc;
    margin-left: auto;
}

.home-product-item__star--gold{
    color: #ffc33e;
}
.home-product-item__sold{
    margin-left: 4px;
    font-size: 1.2rem;
    color: var(--text-color);
}
.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    color: rgb(111, 111, 111);
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 8px;
}
.home-product-item__brand,
.home-product-item__address{
    margin-bottom: 8px;
}

.home-product-item__favor{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--white-color);
    background-color: var(--primary-color);
    /* background-color: currentColor; */
    font-size: 1.2rem;
    padding: 2px 4px 2px 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    
}
.home-product-item__favor::after{
    content: "";
    position: absolute;
    border-top: 4px solid firebrick;
    border-left: 4px solid transparent;
    left: 0;
    top: 16px;
    /* filter: brightness(60%); */
}
.home-product-item__favor-icon{
    margin: 0 2px;
}
.home-product-item__sale-off{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,216,64,0.9);
    width: 40px;
    height: 40px;
}
.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255,216,64,0.9) transparent rgba(255,216,64,0.9);
    bottom: -4px;

}
.home-product-item__sale-off-percent{
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--primary-color);
    line-height: 1.8rem;
}
.home-product-item__sale-off-link{
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--white-color);
}

.home-product__pagination {
    margin: 10px 0;
}

/* Footter */
.footer__outline{
    border-top: 2px solid var(--primary-color);
}
.footer__container{
    padding: 50px;
}
.footer__heading{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

.footer-item{
    margin-bottom: 10px;
}
.footer-item__link{
    font-size: 1.3rem;
    text-decoration: none;
    color: rgba(0,0,0,0.5);
}
.footer-item__link:hover{
    color: var(--primary-color);
}

.footer__payment{
    height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: -14px 0 10px -10px;
}
.footer-item__icon{
    font-size: 1.4rem;
    margin-right: 6px;
    margin-left: 2px;
    color: rgba(0,0,0,0.5);

}
.footer__app{
    display: flex;
    height: 68px;
}
.footer__qr{
    height: 100%;
    border: 1px solid rgba(0,0,0,0.09);
}
.footer__qr-app{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer__qr-app-link{
    display: block;
    height: 50%;
    margin-left: 6px;
    width: 100px;
}
.footer__qr-appstore,
.footer__qr-playstore{
    width: 100%;
    height: 85%;
}

.copyright-content{
    text-align: center;
    padding: 0 0 50px 0;
    font-size: 1.3rem;
    color: rgba(0,0,0,0.6);

}
